.invite-video{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}
.InvitaionVideoList{
    height: 10rem;
    width: 10rem;
    /* flex-basis: 100px; */
    margin: 0.5rem;
    background-color: red;
}