@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=IM+Fell+English+SC&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header, .loading, .backTheme {
    height: 100vh;
    height: 100svh; /* For supported browsers */
}
.loading{
    z-index: 100;
    background-color: #000;
    height: 100svh;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-box{
    height: 100svh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    /* background-color: red; */
}
.loading, .loading-box, header {
    height: 100vh;  
    height: 100svh; 
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.loading-box h1{
   text-align: center;
   
}

.loading h1{
    font-size: 4rem;
    /* position: absolute;
    top: 48%;
    left:30%;
    transform: translate(0%,0%); */
    text-transform: uppercase;

}
.word4{
    margin: 0 10rem 0 0rem;
}
.word5{
    margin: 0 0 0 9rem;
}
.word6{
    margin: 8rem 0 0 0rem;
}
.word7{
    margin:0 14rem 0 0rem;
}
.word8{
    margin: 0 0 0 7rem;
}
.word9{
    margin: 9rem 0 0 0rem;
}
.word16{
    margin: 0 0 0 7rem;
}
.word14{
    margin: 0 9rem 0 0rem;
}
.word17{
    margin: 9rem 6rem 0 0rem;
}
.word18{
    margin: 9rem 0 0 13rem;
}
.light{
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
}
.light1{
    
    left: 0%;
    top: 100%;
    background-color: #69083e;
}
.light2{
    right: 0%;
    top: -100%;
  
    background-color: #021065;
   
}
.light3{
    left: -100%;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: #650263;
   
}
.light4{
    right: -100%;
    bottom: 50%;
    height: 50%;
    width: 100%;
    background-color: #cfcfcfa5;
   
}

.backTheme{
    height: 100svh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.backTheme .line{
    width: 100rem;
    height: 1.9rem;
    background-color: #bababa;
}
.line1{
    
    transform: rotate(56deg);
    position: absolute;
    top: 68%;
    left: -29%;

}
.line2{
    transform: rotate(304deg);
    position: absolute;
    top: 68%;
    right: -29%;

}
.line3{
    transform: rotate(315deg);
    position: absolute;
    bottom: 44%;
    left: -29%;


}
.line4{
    transform: rotate(45deg);
    position: absolute;
    bottom:44%;
    right: -29%;

}
.line5{
    width: 34rem;
    height: 1.9rem;
    background-color: #bababa;
    position: absolute;
    bottom: 0%;
    left: 32%;
    z-index: 1;

}
.front{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
     min-height: 100svh;
    width: 100%;
    backdrop-filter: blur(33px);
    background-color: rgb(29 14 72 / 1%);
}
.box{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.boxIn{
    height: 100%;
    width: 50rem;
    display: flex;
   align-items: center;
    flex-direction: column;
    /* background-color: #4d4d4d; */
}
.boxIn .b-box{
    position: absolute;
   top: 2%;
   left: 0%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 1rem ;

}
.boxIn b{
    font-size: 01rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 1rem;
    background-color:#ffffff52;
    text-align: center;
    border-radius: 2rem;
    text-transform: uppercase;
    /* color:#000; */
}

.boxIn h1{
   font-family: "Great Vibes", cursive;
     font-weight: 500;
    font-style: normal;
    margin: 3rem 0 0 0 ;
    font-size: 6rem;
    letter-spacing: 0.6rem;
    color: #fff;
    text-align: center;
}
.boxIn h2{
    font-size: 1.8rem;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 1.7rem 0 0 0;
}
.boxIn h2 p{
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 0 0;
  padding: 0.9rem;
}
.boxIn h3{
    margin : 3rem 0 0 0;
    font-size: 2.4rem;
    font-family: "Great Vibes", cursive;
     font-weight: 500;
    font-style: normal;
    text-align: center;
}
.boxIn h4{
    margin:  2rem 0 0 0;
    font-size: 2.3rem;
    font-family: "Great Vibes", cursive;
     font-weight: 500;
    font-style: normal;
}
.boxIn p{
    margin:  2.8rem 0 0 0;
    font-size: 2rem;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.boxIn button{
    padding: 0.4rem 2rem;
    outline: none;
    border: none;
    background-color: #FFEB3B;
    font-size: 2rem;
    font-family: "IM Fell English SC", serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 1.3rem 0 1rem 0;
}


@media only screen and (min-width: 821px){
    .boxIn{
        width: 80vw;
    }
    .boxIn h1 {
        margin: 1rem 0 0 0;
    }
    .boxIn h2 {
        margin: 0.7rem 0 0 0;
    }
    .boxIn h3 {
        margin: 2rem 0 0 0;
    }
}

@media only screen and (max-width: 820px){
    .boxIn{
        width: 90vw;
    }
}
@media only screen and (max-width: 791px){
    html{
        font-size: 90%;
    }
}
@media only screen and (max-width: 690px){
    html{
        font-size: 80%;
    }
    .boxIn h1{
        margin: 7rem 0 0 0;
    }
}
@media only screen and (max-width: 600px){
    html{
        font-size: 70%;
    }
}